/*
Theme Name: Forbes Advisor Category
Author: Siddharth Gaglani
Description: This is my first custom theme!
Version: 1.0.0
*/

:root {
  --primary: #5a71ff;
  --dark: #181716;
  --white: #fff;
  --content-gray: #8c8c8c;
}

body {
  background-color: var(--blue);
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* font-size: 1rem; */
  font-family: 'Merriweather', serif;
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
}

.font-worksans {
  font-family: 'Work Sans', sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.text-center {
  text-align: center;
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}

@media (min-width: 992px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}

@media (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}

/* navbar css */

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navbar-dark {
  background-color: var(--dark);
}

.navbar-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav > li > a > i {
  color: var(--white);
}

.nav-link {
  display: block;
  font-size: 14px;
  padding: 0.5rem 1rem;
  color: var(--white);
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 24px;
  line-height: inherit;
  white-space: nowrap;
  color: var(--white);
}

/* spacing utilities */

.p-2 {
  padding: 1rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-3 {
  margin-right: 1rem;
}

.mb-2 {
  margin-bottom: 0.8rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

/* flex and its children */

.d-flex {
  display: flex;
}

@media (min-width: 768px) {
  .d-sm-flex {
    display: flex;
  }
}
@media (min-width: 992px) {
  .d-md-flex {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .d-lg-flex {
    display: flex;
  }
}

.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* background colors */

.bg-light {
  background-color: #fcfcfc;
}

.bg-white {
  background-color: var(--white);
}

.bg-gray {
  background-color: #f4f4f4;
}

.bg-dark-gray {
  background-color: #eeeeee;
}
/* text-related */

.text-uppercase {
  text-transform: uppercase;
}

.text-blue {
  color: var(--primary);
}

.text-gray {
  color: #999999;
}

.text-black {
  color: #181715;
}

.text-small {
  font-size: 14px;
}

.text-smallest {
  font-size: 10px;
  color: #737373;
  margin: 14px 0;
}

.text-attributes {
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  color: var(--content-gray);
}

.text-tiny {
  font-size: 12px;
  font-family: 'Work Sans', sans-serif;
}

.text-center {
  text-align: center;
}

.section-heading {
  font-size: 14px;
  color: var(--primary);
}

.page-heading {
  font-size: 32px;
  color: #181715;
}

.category-header {
  font-size: 24px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  margin-top: 1rem;
}

.title {
  font-size: 24px;
  color: #181715;
}

.subtext {
  font-size: 15px;
  color: var(--content-gray);
  line-height: 30px;
}

.content {
  font-size: 14px;
  line-height: 20px;
  color: var(--content-gray);
}

/* borders */

.border-right {
  border-right: 1px solid #dddddd;
}

.shadow {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-normal {
  font-weight: 400;
}

.blue-border-bottom {
  border-bottom: 1px solid var(--primary);
}

.border-bottom {
  border-bottom: 1px solid #dddddd;
}

.rounded {
  border-radius: 3px;
}

/* button style */

.btn {
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-transform: uppercase;
  font-family: 'Work Sans', sans-serif;
}

.btn-primary {
  color: var(--white);
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-outline-secondary {
  color: #181715;
  border-radius: 3px;
  background-color: var(--white);
  border: 1px solid #181715;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.footer-subsection ul {
  padding: 0;
  list-style: none;
}

.footer-subsection ul li {
  color: var(--content-gray);
  font-size: 12px;
  margin-bottom: 8px;
}

.footer-subsection span {
  font-size: 12px;
  color: red;
}

/* other utilities */

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

@media (min-width: 992px) {
  .order-md-0 {
    order: 0;
  }

  .order-md-1 {
    order: 1;
  }

  .order-md-2 {
    order: 2;
  }

  .order-md-3 {
    order: 3;
  }
}

@media (min-width: 768px) {
  .order-sm-0 {
    order: 0;
  }

  .order-sm-1 {
    order: 1;
  }

  .order-sm-2 {
    order: 2;
  }

  .order-sm-3 {
    order: 3;
  }
}

@media (min-width: 1200px) {
  .order-lg-0 {
    order: 0;
  }

  .order-lg-1 {
    order: 1;
  }

  .order-lg-2 {
    order: 2;
  }

  .order-lg-3 {
    order: 3;
  }
}

.d-none {
  display: none;
}

@media (min-width: 768px) {
  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }
}

@media (min-width: 992px) {
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }
}

@media (min-width: 1200px) {
  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.tns-outer {
  display: flex;
}

.tns-inner {
  order: 0;
}

.tns-outer > .tns-controls {
  text-align: end;
  order: 1;
}

.tns-outer > .tns-controls > button {
  border: none;
  background-color: #fff;
}

.tns-item > a {
  vertical-align: super;
}

.tns-item > img {
  margin-right: 10px;
}

/* .order-1{
  order: 1;
} */
